.back_button {
  margin-right: 30px;
  font-size: 55px;
}

.back_button a {
  text-decoration: none;
  color: white;
}

.form {
  margin-bottom: 20%;
}

.form > .button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8%;
}

.form > p {
  margin: 0 auto !important;
  text-align: center;
}

.form a {
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 17px;
  font-family: KleeRegular;
}

.form > a > div {
  font-weight: 300;

  width: 100%;
  text-align: center;
}
